*.bsc
*.map
*.pdb
*.obj
*.user
*.lastcodeanalysissucceeded
*.ncb
*.suo
*.opendb
*.exp
*.lib
*.gch
*.mak
*.ilk
*.dll
*.exe
*.config
*.a
*.exe.manifest
*.nul
*.sdf
*.opensdf
*.xex
*.xdb
*.elf
*.elf.files
*.self
*.o
*.fpo
*.vpo
*.sym
**/*Binaries*/Microsoft.Expression.*
**/*Binaries*/*.xml

*.hlsl.csh

cl.read.1.tlog
cl.command.1.tlog
cl.write.1.tlog
vsvar_log.log
*.sbr
**/__hg_ignore__/
**/__git_ignore__/
*.zip
*.elf*.snt
*.metagen
*.lst
*.idb
*.ipch
*.VC.db
*.tbp.dir
*.user.nvuser

# linux
.gdb_history
*.spv
*.cso
*.gen.glsl

# Macos
.vscode/
.DS_Store
